body{
  font-family: 'Raleway', sans-serif;
}
.microgram-logo {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.header{
  background-color: #D7DDE8;
}
.modal-dialog {
  position: absolute;
  background: #ccc;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;
  position: fixed;
  height: 200px;
  width: 300px;
}
.opacity {
  opacity: 50%;
}
#shadow {
  position: fixed;
  width:100%;
  height:100%;
  z-index:1; /* поверх всех  кроме окна*/
  background:#000;
  opacity: 0.5; /*прозрачность*/
  left:0;
  top:0;
}
.add-post-button {
  background-color: #D7DDE8;
  border: 0;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
.posts-container {
  background-color: #E9EBF0;
}
.no-scroll {
  overflow: hidden;
}
.page-splash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splashButton {
  margin-top: 17px;
}
.postButton {
  margin-bottom: 17px;
<<<<<<< Updated upstream
=======
}
.post-add-form {
  height: 400px;
  width: auto;
  background-color: lightgrey;
  margin-left: 30px;
  margin-top: 15px;
  margin-left: 100px;
  padding-left: 15px;
}
.post-add-form h4{
  text-transform: uppercase;
  text-align: center;
  color: darkgrey;
  padding-top: 40px;
}
.add-file {
  margin-top: 50px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.add-text {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.post-btn button{
  background-color: darkgrey;
  padding: 10, 10, 10, 10;
>>>>>>> Stashed changes
}